html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: url(../image/header-bcg.jpg) no-repeat center top / cover;
}

a {
    text-decoration: none
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
    font-size: 50px;
    color: #000;
}

.container {
    width: 1170px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    height: 610px;
    padding-top: 260px;
    filter: blur(50);
    box-shadow: 0 0 20px #fff;
}

.container-2 {
    width: 980px;
    margin: 0 auto;
}

.desc {
    width: 45%;
}

.desc p {
    font-weight: 500;
    font-size: 20px;
}

.galery {
    width: 100%;
    height: 245px;
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    position: relative;
}

.gim1 {
    width: 255px;
    height: 178px;
    margin-top: 65px;
}

.gim2 {
    width: 350px;
    height: 245px;
}

.gim {
    bottom: 0;
    transition: all 0.5s ease;
    border-radius: 7px;
}


.galery img:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.equip {
    margin-top: 30px;
    padding-top: 60px;
    margin-bottom: 100px;
}

.container-3 {
    width: 1110px;
    margin: 0 auto;
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.line img {
    border-radius: 7px;
    max-width: 45%;
    max-height: 45%;
}

.text-section {
    width: 47%;
    font-weight: 500;
    font-size: 20px;
}

.container-4 {
    background: #fbffdf;
    width: 1110px;
    margin-top: 80px;
    margin: auto;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 120px;
}

.product-line {
    margin: auto;
    width: 920px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.wrapper {
    width: 1350px;
    height: 306px;
    margin-top: 20px;
    position: relative;
    margin: auto;
    transition: left .5s ease;
    left: 0;
    display: flex;
}

.wrapper p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.card-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-left {
    width: 12px;
    height: 33px;
    cursor: pointer;
    background-image: url("../image/arrow-left.png");
    display: none;
}

.arrow-right {
    width: 12px;
    height: 33px;
    cursor: pointer;
    background-image: url("../image/arrow-right.png");
    display: none;
}

#contentContainer {
    margin: auto;
}

.offer h1 {
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.085em;
    line-height: 78px;
    margin-top: -10px;
    margin-bottom: 5px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.btn {
    background: #000000;
    border: 1px solid #A7A7A7;
    border-radius: 13px;
    margin: auto;
    text-align: center;
    padding: 10px 40px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn1;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn a {
    color: #fff
}

.btn:hover {
    color: #000;
    background: #fff;

}

.btn:hover a {
    color: #000
}


.arrow-left:hover {
    background-color: rgba(170, 170, 170, 0.3);
}

.arrow-right:hover {
    background-color: rgba(170, 170, 170, 0.3);
}

.content {
    float: left;
    width: 225px;
    height: 306px;
    white-space: normal;
}

.img {
    width: 225px;
    height: 185px;
    display: flex;
    align-items: center;
}

.moreinfo {
    width: 525px;
    height: 311px;
    border-radius: 20px;
    background: #fff;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 55px;
}

.moreinfo h3 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 11px;
}

.moreinfo p {
    font-size: 20px;
    font-weight: 500;
}

.moreinfo a {
    color: #001AFF;
}


.card {
    width: 255px;
    height: 366px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    position: relative;
    align-items: center;
    border-radius: 20px;
}

.text {
    width: 225px;
    height: 94px;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

#contentContainer {
    width: 225px;
    height: 306px;
    border-radius: 19px;
    background: #fff;
    overflow: hidden;
}

#navLinks {
    text-align: center;
    width: 130px;
    margin: auto;
}

#navLinks ul {
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
    margin-top: 16px;
}

#navLinks ul li {
    float: left;
    text-align: center;
    margin-right: 5px;
    list-style: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    border: #D9D9D9 3px solid;
}


#navLinks ul li:hover {
    background-color: #919191;
    padding: 7px;
    margin-top: -2px;

}

#navLinks ul li.active {
    background-color: #333333;

    color: #FFFFFF;
    outline-width: 7px;
}

#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.about {
    margin-top: 30px;
    padding-top: 60px;
}

.description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#simple-animate {
    opacity: 0;
    transform: translateX(-50px);
}

#simple-right-animate {
    opacity: 0;
    transform: translateX(100px);
}

#simple-bt-animate {
    opacity: 0;
    transform: translateY(40px);
}

#simple-animate.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}

#simple-right-animate.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}

#simple-bt-animate.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}


.logo {
    margin-left: 40px;
    margin-right: 60px;
}

.mob-menu-icon {
    display: none;
    width: 100px;
    height: 21px;
    /*background: url(../image/menu-icon.png) no-repeat;*/
    cursor: pointer;
}

.mob-menu-icon img {
    width: 100%;
    height: 100%;
}

.mob-menu-nav {
    display: none;
    max-width: 260px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    margin: 0;
    z-index: 10000;
    transition: all 1s;
}

.mob-menu-nav.show {
    left: 0;
    display: block;
}

.mob-menu-nav .menu {
    margin-left: 35px;
}

.mob-menu-exit {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../image/mob-menu-exit.png);
    margin-left: 220px;
}

.mob-menu {
    margin-left: 35px;
}

.simple-phone {
    display: none;
}

.mob-menu li a {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.mob-menu li a:hover {
    background: rgba(193, 190, 190, 0.5);
    margin-left: 10px;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 17px;
    margin-left: 17px;
}

.menu li a {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.menu li a:hover {
    background: rgba(193, 190, 190, 0.5);
    border-bottom: 1px solid black;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.79);
    border: none;
}

.nav.hide {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s ease;
}

.nav.show-menu {
    transform: translateY(0);
    opacity: 1;
    background-color: #fff;
}


.tel {
    margin-left: auto;
    margin-right: 40px;
}

.offer {
    width: 520px;
    height: 175px;
    align-items: center;
    margin: auto;
    text-align: center;

}

.offer p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -30px;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.production {
    margin-top: 100px;
    margin-bottom: 200px;
    margin: 0 auto;
    width: 1110px;
}

.contackts {
    margin-bottom: 200px;
    margin-top: 100px;
}

.container-5 {
    width: 1110px;
    height: 1150px;
    margin: auto;
}

.title-cont {
    display: flex;
    line-height: 39px;
}

.title-cont h2 {
    margin: 0;
}

.title-cont img {
    width: 39px;
    height: 39px;
    margin-left: 6px;
}

.cont-info {
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.cont {
    width: 425px;
    border-left: 4px solid #FFE600;
    padding-left: 20px;
}

.cont h3 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
}

.phones {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.ph1 {
    width: 206px;
    height: 90px;
    font-size: 24px;
}

.ph2 {
    width: 167px;
    height: 60px;
    text-align: right;
    font-size: 25px;
}

.mail {
    display: flex;
    margin-top: 32px;
}

.mail img {
    width: 38px;
    height: 28px;
    margin-right: 17px;
}

.mail p {
    font-weight: 400;
    font-size: 25px;
}

.adress {
    width: 422px;
    display: flex;
    margin-top: 31px;
}

.adress img {
    width: 25px;
    height: 28px;
    margin-right: 17px;
}

.adress p {
    font-weight: 400;
    font-size: 25px;
}

.map {
    width: 635px;
    height: 350px;
}

.footer {
    margin-top: 200px;
    height: 70px;
    width: 100%;
    background: #7D7D7D;
    bottom: 0;
    padding-top: 30px;
    text-align: center;
}

.form {
    margin-top: 130px;
    max-width: 100%;
    height: 570px;
    border-radius: 20px;
    background: #E8F9FF;
    border: 2px solid #00FFFF;
    padding: 35px;
}

.container-5 form h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

.container-5 form .txt {
    width: 445px;
    height: 40px;
    border-radius: 12px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.form-name {
    margin-left: 95px;
    margin-top: 30px;
}

.form-emph {
    margin-left: 95px;
    margin-top: 25px;
    width: 950px;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 905px;
    height: 250px;
    margin-left: 95px;
    margin-top: 30px;
    border: none;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    overflow: scroll;
}

.button {
    width: 190px;
    height: 40px;
    text-align: center;
    background: #CFFFD4;
    border: 3px solid #9BFFB1;
    border-radius: 18px;
    margin-top: 20px;
    margin-left: 855px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.button:hover {
    background: #beff72;
    border: 3px solid #728dff;
}

.txt:focus,
textarea:focus {
    border: 1xp solid #00ff00;
    color: #444;
}

input.error,
textarea.error {
    border-color: #973D3D;
    border-style: solid;
    background: #F0BEBE;
    color: #A35959;
}

.line-footer {
    width: 91%;
    height: 1px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 25px;
}

.footer-text {
    margin: auto;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}





@media (max-width: 1200px) {
    h2 {
        font-size: 48px;
    }

    .text-section {
        font-size: 18px;
    }

    .line {
        margin-bottom: 20px;
    }

    .menu li a {
        font-size: 20px;
    }

    .logo,
    .tel {
        margin: 0;
    }

    .tel img {
        width: 70px;
        height: 30px;
    }

    .logo img {
        width: 250px;
        height: 45px;
    }

    div.nav,
    .nav {
        justify-content: space-around;
        height: 70px;
    }

    .header {
        background: url(../image/header-bcg-1024.png) no-repeat center top / cover;
    }

    .container {
        background: none;
        border: none;
        box-shadow: none;
        padding-top: 180px;
        height: 390px;
    }

    .btn a {
        font-size: 14px;
        font-style: normal;
    }

    .btn {
        padding: 4px 38px;
        width: 185px;
    }

    .offer h1 {
        font-size: 48px;
    }

    section.production,
    .container,
    .container-4,
    .container-5,
    .container-2,
    .container-3 {
        width: 920px;
    }

    .container-2 {
        padding: 0;
    }

    section.contackts .container-5 {
        width: 920px;
    }

    .map,
    #map {
        width: 475px;
    }

    .phones {
        width: 390px;
    }

    .footer {
        height: 110px;
    }

    .footer h6 {
        width: 400px;
        font-weight: 400;
    }

    .mob-menu-nav {
        display: none;
    }

}

@media (max-width: 991px) {
    .logo img {
        width: 193px;
        height: 34px;
    }

    .tel img {
        width: 60px;
        height: 26px;
    }

    .menu li {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media (max-width: 575px) {
    .arrow-left {
        display: block;
    }

    .arrow-right {
        display: block;
    }

    #nav,
    .nav,
    div.nav {
        height: 45px;
        justify-content: space-between;
    }

    .mob-menu-icon {
        width: 90px;
        height: 20px;
        margin-left: 15px;
    }

    .simple-phone {
        display: block;
    }

    .base-phone {
        display: none;
    }

    .tel img {
        margin-right: 15px;
        width: 31px;
        height: 31px;
    }

    #main-nav .menu {
        display: none;
    }

    .mob-menu {
        display: block;

    }

    .mob-menu li {
        margin-bottom: 15px;
        border-left: 1px solid black;
        padding-left: 7px;
    }

    .mob-menu-icon {
        display: block;
    }

    .logo {
        display: none;
    }
}